@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: #F2F7F2; */
    background-color: #EBEBEB;
}

.selected-tab{
    font-weight: 700;
}
.selected-tab a {
    border-bottom: 3px solid #EC7F24;
}

.hover-selected-tab:hover {
    color: #EC7F24;
}

.selected-details {
    background-color: #aaa !important;
}

.stat-bar-ele span{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.stat-bar-ele {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
}

/*For dashboard tabs*/
.bg-special-01{ color:#fff; background-color: #D57538;}
.bg-special-02{ color:#fff; background-color: #43AA8B;}
.bg-special-03{ color:#fff; background-color: #8E5572;}
.bg-special-04{ color:#fff; background-color: #7D82B8;}
.bg-special-05{  background-color: #EBEBEB;}

@layer components {
    .stat-bar {
        @apply col-span-5 w-full rounded-lg grid grid-cols-3 items-center pl-14;
    }
    .details-ele {
        @apply row-span-3 rounded-lg self-center justify-center cursor-pointer hover:bg-orange-700;
    }
    .selected-details {
        @apply border-solid border-2 border-orange-500;
    }
}